*{

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}
.container {
  width: 1200px;
  background-color: lightgray;
  padding: 5px;
  margin: 5px;
}

.container2 {
  width: 1200px;
  background-color: lightgray;
  padding: 5px 0 5px 0;
}

h1{
  margin-left: 10px;
}

div ul{
  color: blue;
  font-size: larger;
  background-color: rgb(230, 182, 124);
  
}

#site_nav {
  list-style: none;
  
}


#site_nav li {
  padding: 5px;
  display: inline-block;
  }

#site_nav li a {
  text-decoration: none;
  color: #100381;

}

#site_nav li a:hover {
  text-decoration: none;
  color: #ffff;

}

#site_nav li a.active{
  color: #ffff;

}

#about1{
  float: left;
  width: 20%;
  height: 90px;
  margin: 0;
  padding: 0;
  background-color: bisque;
}
#about2{
  float: left;
  width: 80%;
  height: 90px;
  margin: 0;
  padding: 0;
  background-color: bisque;
}

img{
  padding: 10px;
}

#imgfill{
  padding: 0;
  margin: 0;
  width: 100%;
  opacity: 0.6;
  text-align: center;
}

#paragraphspace{
  margin: 5px;
}

table{
  padding: 20px;
  margin: 20px 0 20px 0;
}

form label, input, button{
  margin: 20px;
}
